<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Lotus-Alpha</title>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alex+Brush|Great+Vibes|Shrikhand" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/typed.js/1.1.4/typed.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark black-navbar">
	  <a class="navbar-brand" href="/"><img src="/stylesheets/download.jpeg" id="brandImage">  Lotus-Alpha</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="#products">Products</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#about">About Us</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#contact">Contact Us</a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<div id="particles-js"></div>

	<div id="heading">
		<center><h1 style="font-size: 3em;">Quality Sanitary Products</h1></center>
	</div>

	<div id="products">
		<center><h1>Our Range of Products!</h1></center>
		<center><p>(Hover to see All Products)</p></center>
		<hr class="style-two">
		<div class="container">
			<div class="seat">
				<div class="productHover"><img src="/stylesheets/seat.jpg" style="height: auto; margin-left: auto; margin-right: auto; display: block;"></div>
				<div style="padding-top: 100px">
					<h3>Toilet Seat Cover</h3>
					<p>Best in class toilet seat covers. <br><br> *Also avialable in latest hydraulic technology blend* <br><br> Available colours: White, Ivory</p>					
				</div>
			</div>
			<div class="cistern">
				<div class="productHover"><img src="/stylesheets/cistern.jpg" style="height: auto; float: right; margin-left: auto; margin-right: auto; display: block;"></div>
				<div style="padding-top: 100px; float: left;">
					<h3>Cistern Flush</h3>
					<p>Quality Cisterns. Manufacured with long lasting, durable plastic. <br><br> Available in wide range of colours.</p>					
				</div>
			</div>
			<div class="product"><img src="/stylesheets/seat.jpg" id="seatProduct" style="height: auto; float: right; margin-left: auto; margin-right: auto; display: block;"></div>
			<div class="product" id="cisternProduct"><img src="/stylesheets/cistern.jpg" style="height: auto; float: right; margin-left: auto; margin-right: auto; display: block;"></div>
		</div>
	</div>

	<div id="about">
		<div class="container">
			<center>
			<center><h1 id="aboutHeading">About Us</h1></center>
			<hr class="style-five">
			<br><br>
			<p id="aboutPara">We bring you the best in class sanitary products. Our rates are very competitive in the market. The brand is brought to you by M/s Yash Enterprises. The company is owned by Mr. Amit Mittal, who himself has extensive knowledge of sales and marketing. We aim to satisfy our clients at every step. After sales services are as important as selling the products - we always keep this in mind. </p>
			<br><br>
			<i class="fa fa-3x fa-quote-left" aria-hidden="true"></i>
			<span class="write"></span>
			<i class="fa fa-3x fa-quote-right" aria-hidden="true"></i>
		</div>
	</center>
	</div>
	</div>

	<div id="contact">
		<center>
			<div id="contactDiv">
				<h1><strong>Contact Us</strong></h1>
				<p style="font-size: 1em">
					Call Us At<br><strong>+91 96543 82944</strong><br>OR<br>
					Write To Us At<br><strong>yashenterprisesdelhi@gmail.com</strong>
				</p>
			</div>
			<div id="nameDiv">
        <h1>Lotus-Alpha</h1>
				<p>Manufactured By:</p>
				<h3>Yash Enterprises</h3>
				<h4>(A Unit of S.S. Electrotech)</h4>
				<h4>New Delhi, India(IN)</h4>
			</div>
		</center>
		<div id="credits">
			<p style="text-align: right;"><center>Website Designed & Developed By Rohit Gupta. Contact: +91 8860432020</center></p>
		</div>
	</div>

	<script type="text/javascript" src="./javascripts/landing.js"></script>
 	<script type="text/javascript" src="./javascripts/particles.js"></script>
	<script>
		particlesJS('particles-js', 
  	{
  "particles": {
    "number": {
      "value": 90,
      "density": {
        "enable": false,
        "value_area": 800
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 0.5,
      "random": false,
      "anim": {
        "enable": false,
        "speed": 1,
        "opacity_min": 0.1,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 40,
        "size_min": 0.1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 6,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 1200
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab"
      },
      "onclick": {
        "enable": true,
        "mode": "push"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 300,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 400,
        "size": 40,
        "duration": 2,
        "opacity": 8,
        "speed": 3
      },
      "repulse": {
        "distance": 200,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
}
  	);
	</script>
</body>
</html>
