#brandImage
{
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.black-navbar
{
	background-color: black !important;
}

body,html 
{
	height: 100%;
}

#particles-js 
{
	height: 100%;
	width: 100%;
	background: black;
	display: block;
	z-index: 50;
}

#heading
{
	font-family: 'Shrikhand', cursive;
	position: absolute;
	z-index: 100;
	width: 700px;
	height: 100px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: white;
}

#products
{
	padding-top: 5%;
	width:100%;
    height:100%;
    left:auto ;
    right:auto ;
    opacity: 0;
}

.container
{
	max-height:600px;
}

.product
{
	/*width: 30%;*/
	margin: 10%;
	border-radius: 50%;
	/*height: 40vh;*/
	float: left;
	overflow: auto;
	-webkit-box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.75);
	/*opacity: 0;*/
}

.seat
{
	width: 100%;
	height: 500px;
	display: none;
}

.cistern
{
	width: 100%;
	height: 500px;
	display: none;
}

.productHover
{
	margin: 10%;
	float: left;
	border-radius: 50%;
	overflow: auto;
	-webkit-box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 45px 0px rgba(0,0,0,0.75);
}

#about
{
	color: white;
	padding-top: 5%;
	background-image: url("Melamine-wood-002.png");
	width: 100%;
	height: 100%;
	left: auto;
	right: auto;
	opacity: 0;
}

#aboutHeading
{
	font-family: 'Shrikhand', cursive;
	font-size: 4em;
}

.write
{
	font-family: 'Alex Brush', cursive;
	font-size: 3em;
}

#products center h1
{
	font-family: 'Shrikhand', cursive;
	font-size: 3em;
}

#aboutPara
{
	font-size: 2em;
	font-family: 'Great Vibes', cursive;
}

hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#contact
{
	padding-top: 5%;
	width:100%;
    height:100%;
    left:auto ;
    right:auto ;
    font-family: 'Comfortaa', cursive;
    opacity: 0;
}

#contactDiv
{
	margin-top: 5%;
}

#nameDiv
{
	padding-top: 15%;
}

#credits
{
	background-color: black;
	color: white;
	line-height: 2;
	margin-top: 3%;
}